
<form class="ui segment form" action="/member/{{membersData.id}}/addgoal" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Goal Category</label>
      <input placeholder="weight" type="text" name="goalcategory">
    </div>
    <div class="field">
      <label>Goal</label>
      <input placeholder="0.00" type="number" name="goal">
    </div>
  </div>
  
  <button class="ui blue submit button">Add Goal</button>
</form>
