<script>

function validateForm() {
    var a = document.forms["trainergoalform"]["goal"].value;
    if (a  <= 0) {
        alert("goal must be greater than zero");
        return false;
    }

}

</script>



<form name="trainergoalform" class="ui segment form" onsubmit="return validateForm()"  action="/trainer/{{trainersData.id}}/postgoal/{{membersData.id}}" method="POST">
  
  
  <div class="three fields">
    <div class="field">
         Select your Goal Category
         <select name="goalcategory">
           <option>weight</option>
           <option>chest</option>
           <option>waist</option>
           <option>hips</option>
           <option>thigh</option>
           <option>upperarm</option>
        </select>
   </div>
    
    <div class="field">
      <label>Goal</label>
      <input placeholder="0.00" type="number" name="goal">
    </div>
    
     <div class="field">
      <label>Goal Date</label>
    <input type="date" name="Gdate"/>
    </div>
  
  </div>
  
  <button class="ui blue submit button" >Add Goal</button>
</form>
