
<form class="ui segment form" action="/member/{{membersData.id}}/addcomment/{{assessment.id}}" method="POST">
  <h3 class="ui header">Please add or update comment on Asssessment  {{assessment.id}}  {{membersData.id}}</h3>
    <div class="field">
      <label>Existng Comment</label>
      <input placeholder="" type="text" name="comment">
    </div>
  <button class="ui blue submit button">Add/Update</button>
</form>
