<nav class="ui menu">
  <header class="ui header item">Member Menu </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Member Dashboard </a>
    <a id="about_member" class="item" href="/about_member"> About Member </a>
     <a id="update_member" class="item" href="/update_member"> Update Details </a>
     <a id="trainer_member" class="item" href="/trainer_member"> Select Trainer </a>
    <a id="logout" class="item" href="/logoff"> Log Off </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>