<nav class="ui menu">
  <div class="right menu">
    <a id="login" class="item" href="/login"> Login  </a>
    <a id="register" class="item" href="/signup"> Register as new member </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
