{{> menu_initial id="initial_s"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Welome to Assessment 3 ICT Skills
  </h3>
  <p>
     Please Register or Login
  </p>
</section>