{{> menu_member this id="member"}}

<section class="ui center aligned middle aligned segment">
  <p>
    {{>analytics  }}
  </p>
  <p>
    {{>listGoals}}
  </p>
  <p>
    {{>addGoal-table}}
  </p>
  <p>
     {{>addAssessment-table}}
  </p>
  <p>
     {{>listAssessments}}
  </p>
</section>