{{> menu_member id="member"}}

<section class="ui center aligned middle aligned segment">
  <p>
    {{>analytics}}
  </p>
  <p>
     {{>addAssessment-table}}
  </p>

  <p>
     {{>listAssessments}}
  </p>
</section>