

{{> menu_indiv_trainer id="trainer_clients_assess"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    Member Name* : {{membersData.firstName}}    {{membersData.lastName}}
  </h2>
  {{> listClientAssessments}}
</section>