{{> menu_trainer id="trainer_clients"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    Trainer Name : {{membersData.firstName}}    {{membersData.lastName}}
  </h2>
  {{> clientassessment}}
  
   {{> assessmentcomment}}
  
</section>