{{> menu_indiv_trainer id="trainer_client_goal"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    Members Name : {{membersData.firstName}}    {{membersData.lastName}}
  </h2>
  {{> addTrainerGoal-table}}
  
</section>