{{> menu_indiv_trainer id="trainer_clients"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    Trainer Name : {{trainersData.firstName}}    {{trainersData.lastName}}
  </h2>
  {{#if trainersData.firstName}}
      {{> listtrainerclients}}
      {{else}}
      {{> listmanagerclients}}
      
  {{/if}}
  
  
</section>
