
<table class="ui table">
  <thead>
    <tr>
<td>BMI</td>
<td>BMI Category</td>
<td>Ideal Body Weight</td>
  </tr>
  </thead>
  <tbody>
      <tr>
      <td>
         {{bmi}}
        </td>
          <td>
         {{bmicategory}}
        </td>
        <td>
         {{idealbodyweight}}
        </td>
      </tr>
  </tbody>
</table>
