<nav class="ui menu">
  <header class="ui header item"> Trainer Menu </header>
  <div class="right menu">
    <a id="alltrainers" class="item" href="/alltrainers"> All Trainers </a>
    <a id="trainer_clients" class="item" href="/trainer_clients"> Clients of trainer  </a>
    <a id="trainer_about" class="item" href="/trainer_about">About trainer</a>
     <a id="trainer_update" class="item" href="/trainer_update">LoggedIn Trainer </a>
     <a id="logout" class="item" href="/logoff"> Log Off </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>